/* Global rules */


.topnav {
    margin: auto;
    background-color: rgba(0,0,0,.9);
    justify-content: space-evenly;
    overflow: auto;
}

.topnav a {
    float: left;
    display: block;
    color: linen;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    
}

.topnav a.hover, .active {
    background-color: darkred;
}



.topnav .icon {
    display: none;
}

.mainlogo {
    width: 60%;
    height: auto;
    padding: 0px;
    margin: 0px;
    }






/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav a {
        display: none;
    }
    
    .topnav a.icon {
        float: left;
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .banner-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-column {
        float: none;
        text-align: center;
    }

    .eventsbox {
        width: auto;
     }

}


/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 75%;
    }
    .banner-row {
        width: 75%;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .topnav {
        width: 90%;
    }
    .banner-row {
        width: 90%;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
    .banner-row {
        width: 100%;
    }
}
